section{
    border: 1px solid black;
    background-color: lightgreen;
}

.bloc{
    width: 100px;
    height: 100px;
    border: 1px dashed blue;
    background-color: lightyellow;
    margin:10px;
    text-align: center;
}

.bloc > p {
    color:blue;
    font-weight: bold;
    line-height: 60px;
}

.inline-block{
    display: inline-block;
}

.sticky{
    position: sticky;
    background-color: lightseagreen;
    top:0px;
}